.container {
  max-width: 1000px;
  margin: 0 auto;
}

ul {
  list-style-type: none; //toglie punto elenco
}

.flex-container {
  display: flex;
  gap: 11px;
  align-items: center;
}

a {
  text-decoration: none; //toglie sottolineatura
}